name: Pylint

on:
  push:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Install PDM
        uses: pdm-project/setup-pdm@v4
        with:
          python-version: "3.12"
          cache: false       # disable cache because pdm.lock does not exist

      - name: Install dependencies (including dev)
        run: pdm install -d

      - name: Run Pylint (console output)
        run: pdm run lint

      - name: Generate Pylint JSON report
        if: always()
        run: pdm run pylint main.py src/ --output-format=json > pylint-report.json

      - name: Upload Pylint report artifact (only on failure)
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: pylint-report
          path: pylint-report.json
